---
title: ResumeBot Converts Resumes from PDF
---
#top
.header.container
  .nav
    = link_to 'RésuméBot', '#top', class: 'logo'
    .navLinks.half
      %ul
        %li
          = link_to 'About', '#about'
        %li
          = link_to 'FAQ', '#faq'
        %li
          = link_to 'Testimonials', '#testimonials'

.hero.centered
  .vp.container
    = image_tag '/images/logo.gif'
    %h1  Format résumés faster.
    %p ResumeBot is a tool to help recruiters format resumes faster. Tasks like organizing content, adding bullets, and styling text are automated and completed within minutes.
    = link_to 'Get Started', '#howtouse', class: 'btn'

#about
.how.helps.container
  .half.alignLeft.block.copy
    %h2 How ResumeBot Helps Recruiters
    %p Adecco recruiters spend hundreds of hours every quarter parsing and transcribing resumes. ResumeBot can do 80% of that work by stripping away formatting and organizing the information in a standard layout. From there, recruiters can easily format it according to their specific needs. This gives recruiters more time to focus on qualifying and placing candidates.
  .half.alignLeft.block
    .illoLg
      = image_tag'/images/illo-recruiter.png'

.how.works.container
  .half.alignLeft.block.copy
    %h2 How ResumeBot Works
    %p ResumeBot is a robot, not a human. When you attach a resume to an email to ResumeBot, it pulls the text, organizes and formats the resume, and emails you both the original and converted files within 1 minutes and 30 seconds. If there is no text (because the file is image-based; a scan or a photo for instance), ResumeBot will return an error message. Sorry. It’s only a robot. That’s all it’s programmed to do.
  .half.alignLeft.block
    .illoLg
      = image_tag '/images/illo-resumebot.png'

#howtouse
.use.container
  %h2.centered How to Use ResumeBot
  .row
    .oneThird.alignLeft.col
      .illoSm
        = image_tag '/images/illo-email@2x.png'
      %p.centered= "Attach resume files to an email and send it to #{link_to 'resumes@resumebot.io', 'mailto:resumes@resumebot.io'} from an Adecco domain email. (We're still in beta.)"
    .oneThird.alignLeft.col
      .illoSm
        = image_tag '/images/illo-watch@2x.png'
      %p.centered In about 1 minute, ResumeBot will return an email with the original and formatted files for each resume you attached.
    .oneThird.alignLeft.col
      .illoSm
        = image_tag '/images/illo-clipboard@2x.png'
      %p.centered Review the files and make additional tweaks if needed. Because ResumeBot is just a robot, you should always proof your converted files.
  %p.centered.note NOTE: ResumeBot typically returns files within 30 seconds, but the process may take longer depending upon your email provider.

#faq
.help.container
  %h2.centered FAQ
  .accordion
    .accordionSection
      %h3
        = link_to 'What kind of files can ResumeBot parse?', '#accordion-1', class: 'accordionTitle'
      #accordion-1.accordionContent
        %ul
          %li Adobe Portable Documents (.pdf)
          %li Microsoft Word Documents (.doc)
          %li Rich Text Format (.rtf)
          %li Text Files (.txt)
    .accordionSection
      %h3
        = link_to 'Are there limitations that I should be aware of?', '#accordion-2', class: 'accordionTitle'
      #accordion-2.accordionContent
        %p
          %strong Dates:
          ResumeBot gets confused by the variety of ways people express date ranges, so always double check dates.
        %br
        %p
          %strong Affilliations & Skills:
          Because of the variety of vocabularies used on resumes, double-check items listed in the bulletlists for anything out of place.
        %br
        %p
          %strong Language:
          Currently, ResumeBot is only equipped to convert English language documents.
    .accordionSection
      %h3
        = link_to 'What are the technical requirements?', '#accordion-3', class: 'accordionTitle'
      #accordion-3.accordionContent
        %p All you need to use ResumeBot is the ability to send and receive emails through an Adecco business email account. ResumeBot can parse most Microsoft Word documents (versions 2005 and newer), Adobe PDF and other common text formats. Test it to see!
    .accordionSection
      %h3
        = link_to 'Where can I find training and promotional materials for ResumeBot?', '#accordion-4', class: 'accordionTitle'
      #accordion-4.accordionContent
        %p= "Find everything you need to start using ResumeBot in the #{link_to 'Knowledge Base', 'https://resumebot.uservoice.com/knowledgebase', target: '_blank'}."
    .accordionSection
      %h3
        = link_to "ResumeBot won't format the file I submitted. What gives?", '#accordion-5', class: 'accordionTitle'
      #accordion-5.accordionContent
        %p If you receive an error, please double-check that the resume is text-based. ResumeBot can’t read text that is in an image-based file, such as scanned documents or photos. So even if your file is a PDF, if there is not a selectable text area in it because it was created from an image file, ResumeBot will not be able to help you format it.
        %br
        %p Some resumes that are designed with text in columns and/or tables also confuse ResumeBot and may produce poor results.
    .accordionSection
      %h3
        = link_to 'Why does ResumeBot move or drop some information?', '#accordion-6', class: 'accordionTitle'
      #accordion-6.accordionContent
        %p ResumeBot is programmed to organize content according to industry standards, so some information may be moved or dropped if it's not easily understood by a computer. Carefully review your converted files to make sure all of the information you need displays where you need it.
    .accordionSection
      %h3
        = link_to 'Does ResumeBot check spelling and grammar?', '#accordion-7', class: 'accordionTitle'
      #accordion-7.accordionContent
        %p ResumeBot simply converts your existing text, it is not programmed to correct spelling and grammar. (That is a different robot entirely.)
    .accordionSection
      %h3
        = link_to 'What can candidates do to ensure their resumes are machine-readable?', '#accordion-8', class: 'accordionTitle'
      #accordion-8.accordionContent
        %p= "#{link_to 'View tips', 'https://sovren.com/faq/TipsForElectronicResumes.pdf', target: '_blank'} for electronic resumes."

#testimonials
.testimonials.container
  %h2.centered People Who Love ResumeBot
  .slider
    .quoteSlide.centered
      %p.quote This is such a helpful tool! I could not believe how quickly I had a response, and a much more legible resume for my candidate!
      %p.people Gabriel Warner, Recruiter
    .quoteSlide.centered
      %p.quote I just used ResumeBot four times in the last 20 minutes. Thank you! Can I email myself and see what you can do to improve my appearance?
      %p.people Lori Macdonald, Director of Ops
    .quoteSlide.centered
      %p.quote I love ResumeBot! I am so happy to have discovered this! I will be using this as much as I can! Thank you!
      %p.people Cathy Hauk, In-house Support Specialist
    .quoteSlide.centered
      %p.quote Love this! Just tried for the first time, and instantly called my colleague over to show her the results. This will be a real time saver!
      %p.people Christine Schulte, Recruiter

.footer.centered
  .logomark
    = image_tag '/images/ignite-logomark.png'
  %p Developed by #{link_to 'Ignite', '#', class: 'link'}, the innovation lab for Adecco Group
